/*------set-font------*/
body {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fafff5;
}


/*------colors------*/
/*--main-colors--*/

.bg-black {
    background-color: #000000;
}

.bg-dark-green {
    background-color: #002E00;
}

.bg-green {
    background-color: #4d6b14;
}

.bg-light-green {
    background-color: #9DB99D;
}

.bg-off-white {
    background-color: #fafff5;
}

.tx-black {
    color: #000000;
}

.tx-dark-green {
    color: #002E00;
}

.tx-green {
    color: #4d6b14;
}

.tx-light-green {
    color: #9DB99D;
}

.tx-white {
    color: #fafff5;
}

/*--button-colors--*/
.bttn-red {
    background-color: #FA211E;
}

.bttn-purple {
    background-color: #AF1EFA;
}

.bttn-blue {
    background-color: #1eedfa;
}

.bttn-yellow {
    background-color: #EDDE07;
}

/*------Main Game Page------*/
/*--header--*/
#logo {
    font-size: 35px;
    padding: 10px;
}

#settings-cog {
    font-size: 35px;
    margin: 10px;
    border:#9DB99D;
    background-color: #9DB99D;
}

#header-container h2 {
    margin:10px 0px 10px 0px;
}

#header-row {
    justify-content: space-between;
}

/*--player-buttons--*/
button:focus {
    border: none;
    outline: none;
}


#button-container {
    margin-top: 10vh;
}

.player-bttn {
    height: 25vh;
    margin: 5px;
    /*Credit for box shadow to w3school*/
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
    font-size: 70px;
    color: #fafff5;
}

#bttn-otter {
    border-radius: 60px 15px 15px 15px;
}

#bttn-hippo {
    border-radius: 15px 60px 15px 15px;
}

#bttn-frog {
    border-radius: 15px 15px 60px 15px;
}

#bttn-crow {
    border-radius: 15px 15px 15px 60px;
}

/*--score-newGame--*/
#score-wrapper p {
    font-size: 30px;
    padding: 10px;
    width: 190px;
    border-radius: 15px;
    margin: 0 auto;
    height: 65px;
    margin-top: 45px;
    margin-bottom: 5px;
}

#score {
    border-radius: 15px;
    text-align: center;
    display: inline-block;
    width: 60px;
    margin-left: 5px;
}

#bttn-new-game {
    width: 190px;
    font-size: 30px;
    border: none;
    border-radius: 15px;
    height: 65px;
    width: 190px;
    display: block;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 5px;
}

/*------Modals------*/
/*--welcome and settings--*/
.modal-content {
    background-color: #4d6b14;
    color:#fafff5;
    text-align: center;
}

.close {
    font-size: 50px;
    color:#FA211E;
    text-shadow: none;
}

.modal-header .close {
    padding: 5px 16px 0px 0px;
}


.extra-info {
    border-radius: 15px;
}

.extra-info-title {
    padding-top: 5px;
    text-decoration: underline;
    font-size: 20px;
}

#welcome-form input {
    margin: 0 auto;
    vertical-align: middle;
}

/*--game over--*/

.link-wrapper button {
    border: none;
    font-size: 45px;
}

#facebook-bttn {
    color: #1eedfa;
    border-radius: 15px;
}

#x-twitter-bttn {
    color: #AF1EFA;
    
}

#email-bttn {
    color: #EDDE07;
    border-radius: 15px;
}

#game-over-modal-content {
    background-color: #fafff5;
    color:  #4d6b14;
    text-align: center;
}

#game-over-extra-info-title {
    color: #fafff5;
}

#game-over-modal-content .share-text{
    color: #fafff5;
}

.link-bttn {
    border: none;
    font-size: 45px;
}

/*--email modal--*/
.form-input {
    margin: 5px;
    background-color: #fafff5;
    border: 1px solid #002E00;
    border-radius: 15px;
}

.form-input[type='submit'] {
    width: 100%;
    background-color: #002E00;
    color: #fafff5;
}

.form-input[type='text'], .form-input[type='email'] {
    color:#002E00;
    padding-left: 10px;
    padding-right: 10px;
}

.form-input[type='submit']:hover {
    background-color: #fafff5;
    border: 1px solid #fafff5;
    color: #002E00;
}

.form-input:hover {
    border: 1px solid #002E00;
}

.form-label {
    font-size: 18px;
}



/*--footer--*/

.footer-button {
    border: none;
    height: 80px;
    font-size: 30px;
    color: #002E00;
}

.light {
    opacity: 0.5;;
}

/*------Media-Queries------*/
/*--Medimum--*/

@media only screen and (max-width: 768px) {
    /*--player-buttons--*/
    #button-container {
        margin-top: 1vh;
    }
    .player-bttn {
        height: 15vh;
        border: none;
        font-size: 50px;
    }
    
    #bttn-otter {
        border-radius: 15px;
    }
    
    #bttn-hippo {
        border-radius: 15px;
    }
    
    #bttn-frog {
        border-radius: 15px;
    }
    
    #bttn-crow {
        border-radius: 15px;
    }
    /*--score-newGame--*/
    #score-wrapper p {
        width: 100%;
        text-align: center;
        margin-top: 5px;
    }
    
    #bttn-new-game {
        width: 100%;
        width: 100%;
        margin-top: 5px;
        
    }
}

