/*------set-font------*/
body {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/*------colors------*/
/*--main-colors--*/

.bg-black {
    background-color: #000000;
}

.bg-dark-green {
    background-color: #002E00;
}

.bg-green {
    background-color: #4d6b14;
}

.bg-light-green {
    background-color: #9DB99D;
}

.bg-white {
    background-color: #fafff5;
}

.tx-black {
    color: #000000;
}

.tx-dark-green {
    color: #002E00;
}

.tx-green {
    color: #4d6b14;
}

.tx-light-green {
    color: #9DB99D;
}

.tx-white {
    color: #fafff5;
}

/*--button-colors--*/
.bttn-red {
    background-color: #FA211E;
}

.bttn-purple {
    background-color: #AF1EFA;
}

.bttn-blue {
    background-color: #1eedfa;
}

.bttn-yellow {
    background-color: #EDDE07;
}

/*------Main Game Page------*/
/*--header--*/
#logo {
    font-size: 35px;
    padding: 10px;
}

#settings-cog {
    font-size: 35px;
    margin: 10px;
    border:#9DB99D;
    background-color: #9DB99D;
    text-align: right;
}

#header-container h2 {
    margin:10px 0px 10px 0px;
}

#header-row {
    justify-content: space-between;
}

/*--buttons--*/

#button-container {
    margin-top: 10vh;
}

.player-bttn {
    height: 25vh;
    margin: 5px;
    /*Credit for box shadow to w3school*/
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
    font-size: 70px;
    color: #fafff5;
}

#bttn-otter {
    border-radius: 60px 15px 15px 15px;
}

#bttn-hippo {
    border-radius: 15px 60px 15px 15px;
}

#bttn-frog {
    border-radius: 15px 15px 60px 15px;
}

#bttn-crow {
    border-radius: 15px 15px 15px 60px;
}


